@import '../../../variables_and_mixins.scss';

.navlinks {
    font-family: $logo_nav_font;
    display: flex;
    a {
       padding:1em;
       color:white;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: lighter;
        letter-spacing: 0.1em;
       &:hover {
        color:$brun;
       } 
    }
}
.hambrgerwrapper {
    display: none;
}
@media only screen and (max-width: 1000px){
    .navlinks {
        display: none;
    }
   .hambrgerwrapper {
    display: block;
    margin-left: -20vw;
   }
}
@media only screen and (max-width: 650px) {
    .navlinks {
        display: none;
    }

    .hambrgerwrapper {
        display: block;
        margin-left: -12vw;
    }
}