@import '../../../variables_and_mixins.scss';

.navlinks {
    font-family: $logo_nav_font;
    display: flex;
    a {
       padding:1em;
       color:white;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: lighter;
        letter-spacing: 0.1em;
       &:hover {
        color:$brun;
       } 
    }
}