@import "../../../variables_and_mixins.scss";

.reviewswrapper{
    margin-top: 40vh;
    text-align: center;
    h3 {
        padding:1em;
    }
    .onereview {
        background-color: $rosa;
        h5,p {
            padding: 1em;
        }
    }
    .skriv {
        color:rgb(32, 32, 210);
        
    }
}