
*, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* remove list styles: bullets, numbers, underline */
    ol,
    ul,
    menu,
    a {
        list-style: none;
        text-decoration: none;
    }

    /* For images to not be able to exceed their container */
    img {
        max-width: 100%;
    }
}