*, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    //odibee sans font
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
    //font-family: 'Ubuntu', sans-serif;
    //trebuchet font
    // .class {
    //         font-family: Trebuchet MS, sans-serif;
    //     }
}