//import odibee sans font
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

//font variables
$logo_nav_font: 'Odibee Sans', cursive;
$overskrift_brodtext_font: 'Trebuchet MS', sans-serif;

//color variables
$brun: #AF7627;
$rosa: #FED9C9;
$sort: #000000;

