@import "../../../variables_and_mixins.scss";

.headerwrapper {
    display:flex;
    justify-content: space-between;
    background-color: $sort;
    padding: 0.5em;
    
    h3 {
        color:white;
        font-family: $logo_nav_font;
        font-weight: lighter;
        background-color: $brun;
        margin-left: 10vw;
        font-size: 2.5vw;
        padding:0.2em;
        border: solid 1px black;
    }
    @media only screen and (max-width: 1000px){
        h3 {
            margin-left:5vw;
            font-size: 3vw;
        }
    }
    @media only screen and (max-width: 650px) {
        h3 {
            margin-left: 5vw;
            font-size: 5vw;
        }
    }
    .right {
        display: flex;
        margin-right: 10vw;
       
        input {
                padding: 0.5em;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                height:2em;
                border: none;
            }
        svg {
            background-color: rgb(151, 150, 150);
            cursor:pointer;
            font-size: 1.7em;
            color:white;
            padding:0.2em;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            &:hover {
                background-color: $brun;
            }
        }
        
    }
}
@media only screen and (max-width: 650px) {
    input, svg {
        display: none;
    }
   
}